*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

a{
    font-family: Roboto;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

h1{
    font-family: Roboto;
    font-size: 36px;
    color: #660027;
    display: flex;
    align-self: center;
}

header{
    width: 1200px;
    height: 180px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav_header{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

section{
    border: 1px solid #660027;
    height: 700px;
    width: 65%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

label{
    font-family: Roboto;
    font-size: 14px;
    margin-top: 30px;
}

button{
    width: 128px;
    height: 42px;
    border: 2px solid #660027;
    border-radius: 4px;
    background: #660027;
    color: white;
    margin-top: 25px;
    
}

aside{
    width: 33%;  
    background: #660027;
    display: flex;
    align-items: center;
    margin-left: 34px;
    justify-content: center;
    flex-direction: column;
}

p{
    color: white;
    font-family: Roboto;
    font-size: 14px;
    margin: 2%;
}

span{
    font-weight: 600;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input{
    width: 400px;
    height: 42px;
    border: 1px solid #660027;
}

textarea{
    resize: none;
    width: 400px;
    height: 125px;
}

